.TextField{
    display: block;
    outline: none;
    height: 50px;
    width: 100%;
    padding: 11px 16px;
    background-color: rgba(231,239,255,0.9);
    color: #2F414A;
    font-weight: 400;
    font-size: 1rem;
    font-family: inherit;
    border: 1.5px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    box-sizing: border-box;
    transition: background-color 0.15s ease-in-out,
    border 0.15s ease-in-out  ;
    margin-bottom: 15px;
}

.TextField:focus{
    background-color: rgba(209, 224, 255, 0.9);
    border: 1.5px solid #136acd;

}
