.ChartToolbar{
    list-style: none;
    padding:0;
    margin:40px 0;
    height:7vh;
    
    border-bottom: 1px solid #d4dde3;
    

}

.ChartToolbar li{
    font-size: 15px;
    display: inline-block;
    height: 100%;
    margin-left:15px;
    padding:8px;
    border-bottom: 4px solid transparent ;
    color: #4d6575;
    font-family: inherit;
    font-weight:normal;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
    box-sizing: border-box;
    width:13.4%;
    transition: border 0.15s ease-in-out,
    color 0.15s ease-in-out,
    font-weight  0.15s ease-in-out,
    border-color 0.15s ease-in-out   ;
    white-space: nowrap;
    

}

.ChartToolbar li:hover,
.ChartToolbar li:active{
    color: #1c252c;
    border-color: #e0e7eb;
}

.ChartToolbar li.Active{
    font-weight:600;
    color: #1c252c;
    border-color:  #136acd;;

}

.ChartToolbar li span{
    
    border:1px solid  #e0e7eb;
    color: #3c5b8b;
    background: #dfe6f1;
    padding:0px 8px;
    border-radius: 500px;
    font-weight: 600;
    font-size: 14px;
    margin-right:8px;
    

}
.ChartToolbar li.RemoveMargin{
    margin-left: 0;
    width:9%;
}
.ChartToolbar li.RemoveMargin2{
    margin-left:30px;
    width:9%;
}
